form.woorule {
    margin-top: 20px;
}
.woorule .description {
    display: inline-block;
    width: 100%; margin-top: 5px;
}
.woorule tr.line {
    border-bottom: 1px solid #ddd;
}
.woorule h2 {
    margin: 0;
}

.alert-tr.hidden {
    display: none;
}
