.woorule.subscribe.form {
    position: relative;
    display: inline-block;
    width: 100%;
}

.woorule .email {
    float: left;
    width: 75%;
    background: transparent;
    border: 2px solid #05cc87;
    color: #000;
    height: 50px;
}

.woorule .btn {
    float: left;
    width: 25%;
    background: #05cc87;
    color: white;
    height: 50px;
}

.woorule .success {
    width: 100%;
    border: 0px solid;
    text-align: center;
    display: none;
    position: absolute;
    height: 50px;
    background: #02cc87;
    color: white;
    line-height: 45px;
}

.woorule .error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    line-height: 40px;
    color: red;
    border: 2px solid red;
    display: none;
    background: white;
    text-align: center;
    height: 50px;
}